In [1]:
caminho <- c("..", "dados", "Data Sets- R")

In [2]:
filepath = append(caminho, "wage1.RData")
filepath = paste(filepath, collapse='/')
filepath

[1] "../dados/Data Sets- R/wage1.RData"

In [3]:
load(filepath)

In [4]:
ls()

[1] "caminho"  "data"     "desc"     "filepath" "self"

In [5]:
str(data)

'data.frame':	526 obs. of  24 variables:
 $ wage    : num  3.1 3.24 3 6 5.3 ...
 $ educ    : int  11 12 11 8 12 16 18 12 12 17 ...
 $ exper   : int  2 22 2 44 7 9 15 5 26 22 ...
 $ tenure  : int  0 2 0 28 2 8 7 3 4 21 ...
 $ nonwhite: int  0 0 0 0 0 0 0 0 0 0 ...
 $ female  : int  1 1 0 0 0 0 0 1 1 0 ...
 $ married : int  0 1 0 1 1 1 0 0 0 1 ...
 $ numdep  : int  2 3 2 0 1 0 0 0 2 0 ...
 $ smsa    : int  1 1 0 1 0 1 1 1 1 1 ...
 $ northcen: int  0 0 0 0 0 0 0 0 0 0 ...
 $ south   : int  0 0 0 0 0 0 0 0 0 0 ...
 $ west    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ construc: int  0 0 0 0 0 0 0 0 0 0 ...
 $ ndurman : int  0 0 0 0 0 0 0 0 0 0 ...
 $ trcommpu: int  0 0 0 0 0 0 0 0 0 0 ...
 $ trade   : int  0 0 1 0 0 0 1 0 1 0 ...
 $ services: int  0 1 0 0 0 0 0 0 0 0 ...
 $ profserv: int  0 0 0 0 0 1 0 0 0 0 ...
 $ profocc : int  0 0 0 0 0 1 1 1 1 1 ...
 $ clerocc : int  0 0 0 1 0 0 0 0 0 0 ...
 $ servocc : int  0 1 0 0 0 0 0 0 0 0 ...
 $ lwage   : num  1.13 1.18 1.1 1.79 1.67 ...
 $ expersq : int  4 484 4 1936 49 81 225 25 676 484 ...
 $ tenursq : int  0 4 0 784 4 64 49 9 16 441 ...
 - attr(*, "datalabel")= chr ""
 - attr(*, "time.stamp")= chr "25 Jun 2011 23:03"
 - attr(*, "formats")= chr  "%8.2g" "%8.0g" "%8.0g" "%8.0g" ...
 - attr(*, "types")= int  254 251 251 251 251 251 251 251 251 251 ...
 - attr(*, "val.labels")= chr  "" "" "" "" ...
 - attr(*, "var.labels")= chr  "average hourly earnings" "years of education" "years potential experience" "years with current employer" ...
 - attr(*, "version")= int 10

In [11]:
i <- c(mean(data[["educ"]]), max(data[["educ"]]), min(data[["educ"]]))
i

[1] 12.56274 18.00000  0.00000