In [2]:
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
caminho = os.path.join('..', 'dados', 'Data Sets- STATA')

# C1

In [3]:
filename = os.path.join(caminho, 'BWGHT.DTA')
dfc1 = pd.read_stata(filename, preserve_dtypes=False)
dfc1.head()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.300003,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.300003,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.300003,129,NaN,12.0,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.300003,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.300003,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186

## i 
Sinal mais provável = positivo
## ii
Corelação cigs - faminc provavelmente negativa, pelo maior acesso à informação e menores problemas financeiros.

## iii

In [5]:
modelc1 = smf.ols(formula='bwght ~ cigs + lfaminc', data=dfc1)
regrc1 = modelc1.fit()
print(f"bwght = {regrc1.params['Intercept']:.2f} + {regrc1.params['cigs']:.2f}cigs + {regrc1.params['lfaminc']:.2f}lfaminc")
print(f'n = {len(dfc1)}, R^2 = {regrc1.rsquared:.4f}')
modelc1b = smf.ols(formula='bwght ~ cigs', data=dfc1)
regrc1b = modelc1b.fit()
print(f"bwght = {regrc1b.params['Intercept']:.2f} + {regrc1b.params['cigs']:.2f}cigs")
print(f'n = {len(dfc1)}, R^2 = {regrc1b.rsquared:.4f}')

bwght = 113.99 + -0.47cigs + 1.85lfaminc
n = 1388, R^2 = 0.0295
bwght = 119.77 + -0.51cigs
n = 1388, R^2 = 0.0227

In [6]:
np.corrcoef(dfc1['cigs'], np.log(dfc1['faminc']) + 1)

array([[ 1.      , -0.163616],
       [-0.163616,  1.      ]])

In [7]:
dfc1[['cigs', 'faminc']].corr()

            cigs    faminc
cigs    1.000000 -0.173045
faminc -0.173045  1.000000

# C8

In [8]:
filename = os.path.join(caminho, 'discrim.dta')
dfc8 = pd.read_stata(filename, preserve_dtypes=False)
dfc8.head()

,psoda,pfries,pentree,wagest,nmgrs,nregs,hrsopen,emp,psoda2,pfries2,...,county,lpsoda,lpfries,lhseval,lincome,ldensity,NJ,BK,KFC,RR
0,1.12,1.06,1.02,4.25,3.0,5.0,16.0,27.5,1.11,1.11,...,18,0.113329,0.058269,11.906993,10.704008,8.301521,1,0,0,1
1,1.06,0.91,0.95,4.75,3.0,3.0,16.5,21.5,1.05,0.89,...,18,0.058269,-0.094311,11.906993,10.704008,8.301521,1,1,0,0
2,1.06,0.91,0.98,4.25,3.0,5.0,18.0,30.0,1.05,0.94,...,12,0.058269,-0.094311,12.038836,10.625319,9.341369,1,1,0,0
3,1.12,1.02,1.06,5.00,4.0,5.0,16.0,27.5,1.15,1.05,...,10,0.113329,0.019803,12.052921,10.827071,9.029418,1,0,0,1
4,1.12,NaN,0.49,5.00,3.0,3.0,16.0,5.0,1.04,1.01,...,10,0.113329,NaN,12.425610,11.188399,6.579251,1,1,0,0

## i

In [9]:
print(len(dfc8)) # Para identificar se há linhas NA - Se houverem, count será menor que len
dfc8[['prpblck', 'income']].describe()

410

          prpblck         income
count  409.000000     409.000000
mean     0.113486   47053.784841
std      0.182416   13179.286069
min      0.000000   15919.000000
25%      0.011649   37883.000000
50%      0.041444   46272.000000
75%      0.121059   54981.000000
max      0.981658  136529.000000

In [10]:
dfc8_resumo = dfc8[['prpblck', 'income', 'psoda']]
dfc8_resumo[dfc8['prpblck'].isnull()]

     prpblck  income  psoda
384      NaN     NaN   1.05

In [11]:
dfc8_resumo[dfc8['income'].isnull()]

     prpblck  income  psoda
384      NaN     NaN   1.05

In [12]:
dfc8_resumo[dfc8['psoda'].isnull()]

      prpblck   income  psoda
57   0.042239  48350.0    NaN
92   0.031873  64367.0    NaN
143  0.026525  53795.0    NaN
183  0.039983  48574.0    NaN
283  0.019091  51548.0    NaN
310  0.023150  63905.0    NaN
361  0.014509  32161.0    NaN
368  0.121563  35537.0    NaN

In [13]:
# Nan para prpblck ou income é a mesma linha e somente uma, não deve haver problema.

In [14]:
dfc8_resumo.head()

    prpblck   income  psoda
0  0.171154  44534.0   1.12
1  0.171154  44534.0   1.06
2  0.047360  41164.0   1.06
3  0.052839  50366.0   1.12
4  0.034480  72287.0   1.12

### prpblck - percentual, income - valores absolutos (dólares anuais??)

# ii

In [15]:
modelc8 = smf.ols(formula='psoda ~ prpblck + income', data=dfc8)
regrc8 = modelc8.fit()

In [16]:
def print_regr(desc_y, regr):
    lista = [f'{value:.3f} x {key}' for key, value in regr.params.items()]
    lista[0] = f"{regr.params['Intercept']:.3f}"
    print(desc_y + ' = ' + ' + '.join(lista))
    print(f'n = {regr.nobs}, R^2 = {regr.rsquared:.4f}')

In [17]:
print_regr('psoda', regrc8)

psoda = 0.956 + 0.115 x prpblck + 0.000 x income
n = 401.0, R^2 = 0.0642

## iii

In [18]:
modelc8b = smf.ols(formula='psoda ~ prpblck ', data=dfc8)
regrc8b = modelc8b.fit()
print_regr('psoda', regrc8b)

psoda = 1.037 + 0.065 x prpblck
n = 401.0, R^2 = 0.0181

## iv

In [19]:
modelc8c = smf.ols(formula='psoda ~ prpblck + np.log(income) ', data=dfc8)
regrc8c = modelc8c.fit()
print_regr('psoda', regrc8c)

psoda = 0.186 + 0.126 x prpblck + 0.079 x np.log(income)
n = 401.0, R^2 = 0.0663

In [20]:
increment = (0.126 * 0.2)
print(f'{increment * 100}%') # *100 é para colocar como porcentagem

2.52%

## v

In [21]:
modelc8d = smf.ols(formula='psoda ~ prpblck + np.log(income) + prppov', data=dfc8)
regrc8d = modelc8d.fit()
print_regr('psoda', regrc8d)

psoda = -0.512 + 0.075 x prpblck + 0.142 x np.log(income) + 0.396 x prppov
n = 401.0, R^2 = 0.0850

## vi

In [22]:
df_resumoVI = pd.DataFrame([np.log(dfc8['income']), dfc8['prppov']]).transpose()
df_resumoVI.head()

      income    prppov
0  10.704008  0.036579
1  10.704008  0.036579
2  10.625319  0.087907
3  10.827072  0.059123
4  11.188400  0.025415

In [23]:
print(len(df_resumoVI))
df_resumoVI.dropna(inplace=True)
print(len(df_resumoVI))

410
409

In [24]:
np.corrcoef(df_resumoVI['income'], df_resumoVI['prppov'])

array([[ 1.        , -0.83846697],
       [-0.83846697,  1.        ]])

## vii - A inclusão de prppob adiciona viés em B1, praticamente anulando 
## os efeitos de income e aproximando o resultado da equação
## enviesada de iii

Note-se que a simples adição de variável independente aumentou o r², mas a mudança dos paramêtros b leva a crer que as equações ii e iv eformam modelo mais representativo da população. Abaixo, compara-se o summary para avaliar também AIC e significância. Nota-se que em iii e v o p-value de pprblack torna-se não significativo.

In [25]:
print(regrc8.summary())
print(regrc8b.summary())
print(regrc8c.summary())
print(regrc8d.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  psoda   R-squared:                       0.064
Model:                            OLS   Adj. R-squared:                  0.060
Method:                 Least Squares   F-statistic:                     13.66
Date:                Fri, 13 Jul 2018   Prob (F-statistic):           1.83e-06
Time:                        11:24:36   Log-Likelihood:                 415.79
No. Observations:                 401   AIC:                            -825.6
Df Residuals:                     398   BIC:                            -813.6
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.9563      0.019     50.354      0.000       0.919       0.994
prpblck        0.1150      0.026      4.423      0.000       0.064       0.166
income      1.603e-06   3.62e-07      4.430      0.000    8.91e-07    2.31e-06
==============================================================================
Omnibus:                       30.419   Durbin-Watson:                   1.688
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               68.506
Skew:                           0.394   Prob(JB):                     1.33e-15
Kurtosis:                       4.866   Cond. No.                     3.27e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.27e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:                  psoda   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     7.345
Date:                Fri, 13 Jul 2018   Prob (F-statistic):            0.00702
Time:                        11:24:36   Log-Likelihood:                 406.14
No. Observations:                 401   AIC:                            -808.3
Df Residuals:                     399   BIC:                            -800.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.0374      0.005    199.867      0.000       1.027       1.048
prpblck        0.0649      0.024      2.710      0.007       0.018       0.112
==============================================================================
Omnibus:                       27.289   Durbin-Watson:                   1.606
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               57.084
Skew:                           0.373   Prob(JB):                     4.02e-13
Kurtosis:                       4.691   Cond. No.                         5.52
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:                  psoda   R-squared:                       0.066
Model:                            OLS   Adj. R-squared:                  0.062
Method:                 Least Squares   F-statistic:                     14.13
Date:                Fri, 13 Jul 2018   Prob (F-statistic):           1.18e-06
Time:                        11:24:36   Log-Likelihood:                 416.24
No. Observations:                 401   AIC:                            -826.5
Df Residuals:                     398   BIC:                            -814.5
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          0.1855      0.188      0.987      0.324      -0.184       0.555
prpblck            0.1258      0.027      4.665      0.000       0.073       0.179
np.log(income)     0.0788      0.017      4.533      0.000       0.045       0.113
==============================================================================
Omnibus:                       29.684   Durbin-Watson:                   1.686
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.894
Skew:                           0.377   Prob(JB):                     1.81e-15
Kurtosis:                       4.870   Cond. No.                         475.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
                            OLS Regression Results
==============================================================================
Dep. Variable:                  psoda   R-squared:                       0.085
Model:                            OLS   Adj. R-squared:                  0.078
Method:                 Least Squares   F-statistic:                     12.29
Date:                Fri, 13 Jul 2018   Prob (F-statistic):           1.05e-07
Time:                        11:24:36   Log-Likelihood:                 420.29
No. Observations:                 401   AIC:                            -832.6
Df Residuals:                     397   BIC:                            -816.6
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         -0.5121      0.308     -1.664      0.097      -1.117       0.093
prpblck            0.0750      0.032      2.334      0.020       0.012       0.138
np.log(income)     0.1418      0.028      5.058      0.000       0.087       0.197
prppov             0.3963      0.139      2.848      0.005       0.123       0.670
==============================================================================
Omnibus:                       30.968   Durbin-Watson:                   1.726
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               69.908
Skew:                           0.401   Prob(JB):                     6.60e-16
Kurtosis:                       4.882   Cond. No.                         834.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## C10

In [26]:
filename = os.path.join(caminho, 'HTV.DTA')
dfc10 = pd.read_stata(filename, preserve_dtypes=False)
dfc10.head()

,wage,abil,educ,ne,nc,west,south,exper,motheduc,fatheduc,...,ne18,nc18,south18,west18,urban18,tuit17,tuit18,lwage,expersq,ctuit
0,12.019231,5.027738,15,0,0,1,0,9,12,12,...,1,0,0,0,1,7.582914,7.260242,2.486508,81,-0.322671
1,8.912656,2.037170,13,1,0,0,0,8,12,10,...,1,0,0,0,1,8.595144,9.499537,2.187472,64,0.904392
2,15.514334,2.475895,15,1,0,0,0,11,12,16,...,1,0,0,0,1,7.311346,7.311346,2.741764,121,0.000000
3,13.333333,3.609240,15,1,0,0,0,6,12,12,...,1,0,0,0,1,9.499537,10.162070,2.590267,36,0.662534
4,11.070110,2.636546,13,1,0,0,0,15,12,15,...,1,0,0,0,1,7.311346,7.311346,2.404249,225,0.000000

## i
educ são os anos de educação, fatheduc e motheduc anos de educação do pai e mãe, respectivamente.

A média dos pais é ligeiramente menor

In [33]:
dfc10[['educ', 'fatheduc', 'motheduc']].describe()

              educ     fatheduc     motheduc
count  1230.000000  1230.000000  1230.000000
mean     13.037398    12.447154    12.178049
std       2.354346     3.263835     2.278067
min       6.000000     0.000000     0.000000
25%      12.000000    11.000000    12.000000
50%      12.000000    12.000000    12.000000
75%      15.000000    14.000000    12.000000
max      20.000000    20.000000    20.000000

In [34]:
modelc10 = smf.ols(formula='educ ~ motheduc + fatheduc ', data=dfc10)
regrc10 = modelc10.fit()
print_regr('educ', regrc10)

educ = 6.964 + 0.304 x motheduc + 0.190 x fatheduc
n = 1230.0, R^2 = 0.2493

In [35]:
modelc10b = smf.ols(formula='educ ~ motheduc + fatheduc + abil', data=dfc10)
regrc10b = modelc10b.fit()
print_regr('educ', regrc10b)

educ = 8.449 + 0.189 x motheduc + 0.111 x fatheduc + 0.502 x abil
n = 1230.0, R^2 = 0.4275

In [37]:
modelc10b = smf.ols(formula='educ ~ motheduc + fatheduc + abil + I(abil ** 2)', data=dfc10)
regrc10b = modelc10b.fit()
print_regr('educ', regrc10b)

educ = 8.240 + 0.190 x motheduc + 0.109 x fatheduc + 0.401 x abil + 0.051 x I(abil ** 2)
n = 1230.0, R^2 = 0.4444