In [1]:
import os
from rpy2.robjects import r
from rpy2.robjects import pandas2ri
import pandas as pd

In [2]:
caminho = os.path.join('..', 'dados', 'Data Sets- R')

# Exercício C1

In [4]:
filename = os.path.join(caminho, 'wage1.RData')
print(filename)
rf = r.load(filename)
rf

../dados/Data Sets- R/wage1.RData

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7fc765e86308 / R:0x55a87fdf5970>
['data', 'desc', 'self']

In [5]:
data=pandas2ri.ri2py_dataframe(r['data'])

/home/ivan/anaconda3/lib/python3.6/site-packages/rpy2/robjects/pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)

In [6]:
# data = pd.read_excel()

In [7]:
data.head()

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4

In [8]:
i = {'educ': {'mean': data['educ'].mean(), 'min': data['educ'].min(), 'max': data['educ'].max()}}
i

{'educ': {'max': 18, 'mean': 12.562737642585551, 'min': 0}}

In [9]:
ii = {'wage': {'mean': data['wage'].mean()}}
ii

{'wage': {'mean': 5.896102674787035}}

In [10]:
iii = ('Inflation 1976-2013 USA', 4.09)

In [11]:
iv = ii['wage']['mean'] * iii[1]
iv

24.11505993987897

In [12]:
v = {'male': data[data['female'] == 0]['female'].count(),
     'female': data[data['female'] == 1]['female'].count()}
v

{'female': 252, 'male': 274}

# Exercício C2

In [13]:
filename = os.path.join(caminho, 'bwght.RData')
c2 = r.load(filename)
data = pandas2ri.ri2py_dataframe(r['data'])
def set_nan(fatheduc):
    if fatheduc < 0: 
        return None 
    return fatheduc
data['fatheduc'] = data['fatheduc'].apply(set_nan)

/home/ivan/anaconda3/lib/python3.6/site-packages/rpy2/robjects/pandas2ri.py:191: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  res = PandasDataFrame.from_items(items)

In [14]:
data.head()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.300003,109,12.0,12,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.300003,133,6.0,12,2,1,0,0,4.890349,8.3125,0.0,2.014903
2,0.5,16.5,122.300003,129,NaN,12,2,0,0,0,4.859812,8.0625,0.0,-0.693147
3,15.5,16.5,122.300003,126,12.0,12,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.300003,134,14.0,12,2,1,1,0,4.897840,8.3750,0.0,3.314186

In [15]:
data.describe()

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
count,1388.000000,1388.000000,1388.000000,1388.000000,1192.000000,1.388000e+03,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,29.026657,19.552954,130.559006,118.699568,13.186242,-1.547165e+06,1.632565,0.520893,0.784582,2.087176,4.760031,7.418723,0.104359,3.071271
std,18.739285,7.795598,10.244485,20.353964,2.745985,5.764148e+07,0.894027,0.499743,0.411260,5.972688,0.190662,1.272123,0.298634,0.918065
min,0.500000,2.000000,103.800003,23.000000,1.000000,-2.147484e+09,1.000000,0.000000,0.000000,0.000000,3.135494,1.437500,0.000000,-0.693147
25%,14.500000,15.000000,122.800003,107.000000,12.000000,1.200000e+01,1.000000,0.000000,1.000000,0.000000,4.672829,6.687500,0.000000,2.674149
50%,27.500000,20.000000,130.800003,120.000000,12.000000,1.200000e+01,1.000000,1.000000,1.000000,0.000000,4.787492,7.500000,0.000000,3.314186
75%,37.500000,26.000000,137.000000,132.000000,16.000000,1.400000e+01,2.000000,1.000000,1.000000,0.000000,4.882802,8.250000,0.000000,3.624341
max,65.000000,38.000000,152.500000,271.000000,18.000000,1.800000e+01,6.000000,1.000000,1.000000,50.000000,5.602119,16.937500,2.500000,4.174387

In [16]:
print(r['desc'])

   variable                          label
1    faminc     1988 family income, $1000s
2    cigtax   cig. tax in home state, 1988
3  cigprice cig. price in home state, 1988
4     bwght           birth weight, ounces
5  fatheduc           father's yrs of educ
6  motheduc           mother's yrs of educ
7    parity           birth order of child
8      male               =1 if male child
9     white                    =1 if white
10     cigs  cigs smked per day while preg
11   lbwght                   log of bwght
12 bwghtlbs           birth weight, pounds
13    packs packs smked per day while preg
14  lfaminc                    log(faminc)

In [17]:
i = {'womem': len(data.index), 'smoke': data[data['cigs'] > 0]['cigs'].count()}
i

{'smoke': 212, 'womem': 1388}

In [18]:
nsmokers = data[data['cigs'] > 0]['cigs'].count()
ii = {'mean cigs': data['cigs'].mean(), 'mean cigs smokers': data['cigs'].sum() / nsmokers}
ii

{'mean cigs': 2.0871757925072045, 'mean cigs smokers': 13.665094339622641}

### O item 2 pergunta se a média de cigs é uma boa medida. Conforme calculado acima, há um total de mais de 1000 mulheres que não fumaram durante a gravidez, portanto a média geral é baixa. Entretanto, é possível tirar a média das fumantes, que me parece mais adequado. Esta é a resposta ao item iii também.

In [19]:
data['fatheduc'].describe()

count    1192.000000
mean       13.186242
std         2.745985
min         1.000000
25%        12.000000
50%        12.000000
75%        16.000000
max        18.000000
Name: fatheduc, dtype: float64

In [20]:
iv = {'mean': data['fatheduc'].mean(), 'N.I.': data['fatheduc'].isnull().sum()}
iv

{'N.I.': 196, 'mean': 13.186241610738255}

### Item IV - 196 registros não possuem o dado fatheduc

In [21]:
v = {'mean faminc': data['faminc'].mean(), 'std faminc': data['faminc'].std()}
v

{'mean faminc': 29.026657060518733, 'std faminc': 18.739284632245383}

In [22]:
data['faminc'].describe()

count    1388.000000
mean       29.026657
std        18.739285
min         0.500000
25%        14.500000
50%        27.500000
75%        37.500000
max        65.000000
Name: faminc, dtype: float64

# Exercício C3