In [1]:
import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from utils import print_regr
caminho = os.path.join('..', 'dados', 'Data Sets- STATA')

## Ex. 7.11

In [5]:
filename = os.path.join(caminho, 'MLB1.DTA')
df = pd.read_stata(filename, preserve_dtypes=False)
df.head()

,salary,teamsal,nl,years,games,atbats,runs,hits,doubles,triples,...,runsyr,percwhte,percblck,perchisp,blckpb,hispph,whtepw,blckph,hisppb,lsalary
0,6329213.0,38407380.0,1,12,1705,6705,1076,1939,320,67,...,89.666664,70.277969,18.844229,10.877804,0.000000,0.0,70.277969,0.000000,0.0,15.660686
1,3375000.0,38407380.0,1,8,918,3333,407,863,156,38,...,50.875000,70.277969,18.844229,10.877804,18.844229,0.0,0.000000,10.877804,0.0,15.031906
2,3100000.0,38407380.0,1,5,751,2807,370,840,148,18,...,74.000000,70.277969,18.844229,10.877804,0.000000,0.0,70.277969,0.000000,0.0,14.946913
3,2900000.0,38407380.0,1,8,1056,3337,405,816,143,18,...,50.625000,70.277969,18.844229,10.877804,0.000000,0.0,70.277969,0.000000,0.0,14.880221
4,1650000.0,38407380.0,1,12,1196,3603,437,928,19,16,...,36.416668,70.277969,18.844229,10.877804,18.844229,0.0,0.000000,10.877804,0.0,14.316286

### Se não forem eliminadas as linhas com dados ausentes, a segunda modelagem terá 353 linhas, o que prejudicará a comparação do R²

In [33]:
df = df.dropna()

In [34]:
model = smf.ols(formula='np.log(salary) ~ years + gamesyr + bavg + ' +
                ' hrunsyr + rbisyr + runsyr + fldperc + allstar + ' +
                'black + hispan + I(black*percblck) + I(hispan*perchisp)', data=df)
regr = model.fit()
print_regr('log(salary)', regr)

log(salary) = 10.344 + 0.067 x years + 0.009 x gamesyr + 0.001 x bavg + 0.015 x hrunsyr + 0.004 x rbisyr + 0.007 x runsyr + 0.001 x fldperc + 0.008 x allstar + -0.198 x black + -0.190 x hispan + 0.012 x I(black * percblck) + 0.020 x I(hispan * perchisp)
(2.183)	(0.013)	(0.003)	(0.002)	(0.016)	(0.008)	(0.005)	(0.002)	(0.003)	(0.125)	(0.153)	(0.005)	(0.010)
n = 330.0, R^2 = 0.6376

In [35]:
model2 = smf.ols(formula='np.log(salary) ~ years + gamesyr + bavg + ' +
                ' hrunsyr + rbisyr + runsyr + fldperc + allstar', data=df)
regr2 = model2.fit()
print_regr('log(salary)', regr2)

log(salary) = 10.637 + 0.067 x years + 0.009 x gamesyr + 0.001 x bavg + 0.014 x hrunsyr + 0.005 x rbisyr + 0.008 x runsyr + 0.001 x fldperc + 0.007 x allstar
(2.199)	(0.013)	(0.003)	(0.002)	(0.017)	(0.008)	(0.005)	(0.002)	(0.003)
n = 330.0, R^2 = 0.6255

In [36]:
model3 = smf.ols(formula='np.log(salary) ~ years + gamesyr + bavg + ' +
                ' hrunsyr + rbisyr + runsyr + fldperc + allstar + ' +
                'black + hispan', data=df)
regr3 = model3.fit()
print_regr('log(salary)', regr3)

log(salary) = 10.618 + 0.068 x years + 0.009 x gamesyr + 0.001 x bavg + 0.014 x hrunsyr + 0.005 x rbisyr + 0.008 x runsyr + 0.001 x fldperc + 0.007 x allstar + 0.009 x black + 0.033 x hispan
(2.209)	(0.013)	(0.003)	(0.002)	(0.017)	(0.008)	(0.005)	(0.002)	(0.003)	(0.095)	(0.110)
n = 330.0, R^2 = 0.6256

In [37]:
hypotheses = '(black=hispan=I(black * percblck)=I(hispan * perchisp)=0)'
f_test = regr.f_test(hypotheses)
print('f_test')
print(f_test)

f_test
<F test: F=array([[2.64788815]]), p=0.033476155666573075, df_denom=317, df_num=4>

In [38]:
print(regr.summary())
print(regr2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(salary)   R-squared:                       0.638
Model:                            OLS   Adj. R-squared:                  0.624
Method:                 Least Squares   F-statistic:                     46.48
Date:                Fri, 13 Jul 2018   Prob (F-statistic):           1.31e-62
Time:                        13:06:50   Log-Likelihood:                -350.12
No. Observations:                 330   AIC:                             726.2
Df Residuals:                     317   BIC:                             775.6
Df Model:                          12
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               10.3437      2.183      4.739      0.000       6.050      14.638
years                    0.0673      0.013      5.224      0.000       0.042       0.093
gamesyr                  0.0089      0.003      2.624      0.009       0.002       0.016
bavg                     0.0009      0.002      0.625      0.533      -0.002       0.004
hrunsyr                  0.0146      0.016      0.889      0.375      -0.018       0.047
rbisyr                   0.0045      0.008      0.593      0.553      -0.010       0.019
runsyr                   0.0072      0.005      1.577      0.116      -0.002       0.016
fldperc                  0.0011      0.002      0.513      0.609      -0.003       0.005
allstar                  0.0075      0.003      2.621      0.009       0.002       0.013
black                   -0.1980      0.125     -1.578      0.116      -0.445       0.049
hispan                  -0.1900      0.153     -1.241      0.215      -0.491       0.111
I(black * percblck)      0.0125      0.005      2.509      0.013       0.003       0.022
I(hispan * perchisp)     0.0201      0.010      2.051      0.041       0.001       0.039
==============================================================================
Omnibus:                        1.828   Durbin-Watson:                   1.341
Prob(Omnibus):                  0.401   Jarque-Bera (JB):                1.709
Skew:                           0.012   Prob(JB):                        0.425
Kurtosis:                       3.352   Cond. No.                     5.65e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.65e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(salary)   R-squared:                       0.626
Model:                            OLS   Adj. R-squared:                  0.616
Method:                 Least Squares   F-statistic:                     67.02
Date:                Fri, 13 Jul 2018   Prob (F-statistic):           6.08e-64
Time:                        13:06:50   Log-Likelihood:                -355.54
No. Observations:                 330   AIC:                             729.1
Df Residuals:                     321   BIC:                             763.3
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.6367      2.199      4.838      0.000       6.311      14.962
years          0.0673      0.013      5.184      0.000       0.042       0.093
gamesyr        0.0086      0.003      2.548      0.011       0.002       0.015
bavg           0.0007      0.002      0.435      0.664      -0.002       0.004
hrunsyr        0.0140      0.017      0.848      0.397      -0.019       0.047
rbisyr         0.0046      0.008      0.607      0.544      -0.010       0.020
runsyr         0.0084      0.005      1.869      0.063      -0.000       0.017
fldperc        0.0009      0.002      0.401      0.688      -0.003       0.005
allstar        0.0069      0.003      2.390      0.017       0.001       0.013
==============================================================================
Omnibus:                        1.891   Durbin-Watson:                   1.286
Prob(Omnibus):                  0.388   Jarque-Bera (JB):                1.756
Skew:                           0.046   Prob(JB):                        0.416
Kurtosis:                       3.345   Cond. No.                     5.63e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.63e+04. This might indicate that there are
strong multicollinearity or other numerical problems.